<h1><%= pluralize(@businesses.count, 'Business') %></h1>

<% @businesses.each do |business| %>
  <article id="business">
    <header>
      <%= image_for(business) %>
      <h2><%= link_to business.title, business_path(business) %></h2>
    </header>
    <p>
      <%= truncate(business.description, length: 120, separator: ' ') %>
    </p>
    <p>
      Started <%= business.years_in_business %> |
      ( <%= time_ago_in_words(business.years_in_business) %> ago ) |
      <%= show_rank(business) %>
    </p>
  </article>
<% end %>