<article>
  <header>
    <h1><%= @business.title %></h1>
  </header>
  <p>
    <%= @business.description %>
  </p>
  <p>
    <%= @business.website %>
  </p>
  <p>
    <%= @business.years_in_business %>
    ( <%= time_ago_in_words(@business.years_in_business) %> ago )
    <%= show_rank(@business) %>
  </p>
</article>

<%= link_to "All Businesses", businesses_path %>