<article>
  <header>
    <h1><%= @business.title %></h1>
  </header>
  <p>
    <%= @business.description %>
  </p>
  <p>
    <%= link_to @business.website, @business.website %>
  </p>
  <p>
    Started <%= @business.years_in_business %>
    ( <%= time_ago_in_words(@business.years_in_business) %> ago )
    <%= show_rank(@business) %>
  </p>
</article>

<nav>
<%= link_to "All Businesses", businesses_path %> | <%= link_to "Edit", edit_business_path %> |<%= link_to "Delete", business_path(@business), method: :delete, data: { confirm: 'Are you sure?' } %>
</nav>